body {
  margin: 0;
  min-width: 2048px;
  background-color: #002a43;
}

#c {
  position: absolute;
  width: 652px;
  height: 162px;
  left: 703px;
  top: 113px;
  z-index: 38;
}

#c-1 {
  position: absolute;
  width: 606px;
  height: 193px;
  left: 274px;
  top: 336px;
  z-index: 37;
}

#c-2 {
  position: absolute;
  width: 606px;
  height: 193px;
  left: 1182px;
  top: 336px;
  z-index: 36;
}

#c-3 {
  position: absolute;
  width: 378px;
  height: 164px;
  left: 173px;
  top: 590px;
  z-index: 35;
}

#c-4 {
  position: absolute;
  width: 378px;
  height: 164px;
  left: 599px;
  top: 590px;
  z-index: 34;
}

#c-5 {
  position: absolute;
  width: 378px;
  height: 164px;
  left: 1083px;
  top: 590px;
  z-index: 33;
}

#c-6 {
  position: absolute;
  width: 378px;
  height: 164px;
  left: 1509px;
  top: 590px;
  z-index: 32;
}

#c-7 {
  position: absolute;
  width: 378px;
  height: 164px;
  left: 175px;
  top: 815px;
  z-index: 31;
}

#c-8 {
  position: absolute;
  width: 378px;
  height: 164px;
  left: 600px;
  top: 815px;
  z-index: 30;
}

#c-9 {
  position: absolute;
  width: 378px;
  height: 164px;
  left: 1084px;
  top: 817px;
  z-index: 29;
}

#c-10 {
  position: absolute;
  width: 378px;
  height: 164px;
  left: 1511px;
  top: 817px;
  z-index: 28;
}

#c-11 {
  position: absolute;
  width: 378px;
  height: 164px;
  left: 174px;
  top: 1040px;
  z-index: 27;
}

#c-12 {
  position: absolute;
  width: 378px;
  height: 164px;
  left: 599px;
  top: 1040px;
  z-index: 26;
}

#c-13 {
  position: absolute;
  width: 378px;
  height: 164px;
  left: 1083px;
  top: 1042px;
  z-index: 25;
}

#c-14 {
  position: absolute;
  width: 378px;
  height: 164px;
  left: 1510px;
  top: 1042px;
  z-index: 24;
}

#c-15 {
  position: absolute;
  width: 378px;
  height: 164px;
  left: 175px;
  top: 1265px;
  z-index: 23;
}

#c-16 {
  position: absolute;
  width: 378px;
  height: 164px;
  left: 600px;
  top: 1265px;
  z-index: 22;
}

#c-17 {
  position: absolute;
  width: 378px;
  height: 164px;
  left: 1084px;
  top: 1267px;
  z-index: 21;
}

#c-18 {
  position: absolute;
  width: 378px;
  height: 164px;
  left: 1509px;
  top: 1266px;
  z-index: 20;
}

#st {
  position: absolute;
  width: 4px;
  height: 85px;
  left: 785px;
  top: 261px;
  z-index: 19;
  background-color: #fff;
}

#st-1 {
  position: absolute;
  width: 4px;
  height: 85px;
  left: 1269px;
  top: 261px;
  z-index: 18;
  background-color: #fff;
}

#st-2 {
  position: absolute;
  width: 4px;
  height: 85px;
  left: 357px;
  top: 511px;
  z-index: 17;
  background-color: #fff;
}

#st-3 {
  position: absolute;
  width: 4px;
  height: 85px;
  left: 785px;
  top: 516px;
  z-index: 16;
  background-color: #fff;
}

#st-4 {
  position: absolute;
  width: 4px;
  height: 85px;
  left: 1269px;
  top: 516px;
  z-index: 15;
  background-color: #fff;
}

#st-5 {
  position: absolute;
  width: 4px;
  height: 85px;
  left: 1695px;
  top: 511px;
  z-index: 14;
  background-color: #fff;
}

#st-6 {
  position: absolute;
  width: 4px;
  height: 85px;
  left: 360px;
  top: 737px;
  z-index: 13;
  background-color: #fff;
}

#st-7 {
  position: absolute;
  width: 4px;
  height: 85px;
  left: 785px;
  top: 740px;
  z-index: 12;
  background-color: #fff;
}

#st-8 {
  position: absolute;
  width: 4px;
  height: 85px;
  left: 1268px;
  top: 740px;
  z-index: 11;
  background-color: #fff;
}

#st-9 {
  position: absolute;
  width: 4px;
  height: 85px;
  left: 1695px;
  top: 741px;
  z-index: 10;
  background-color: #fff;
}

#st-10 {
  position: absolute;
  width: 4px;
  height: 85px;
  left: 361px;
  top: 962px;
  z-index: 9;
  background-color: #fff;
}

#st-11 {
  position: absolute;
  width: 4px;
  height: 85px;
  left: 786px;
  top: 963px;
  z-index: 8;
  background-color: #fff;
}

#st-12 {
  position: absolute;
  width: 4px;
  height: 85px;
  left: 1269px;
  top: 965px;
  z-index: 7;
  background-color: #fff;
}

#st-13 {
  position: absolute;
  width: 4px;
  height: 85px;
  left: 1695px;
  top: 964px;
  z-index: 6;
  background-color: #fff;
}

#st-14 {
  position: absolute;
  width: 4px;
  height: 85px;
  left: 361px;
  top: 1191px;
  z-index: 5;
  background-color: #fff;
}

#st-15 {
  position: absolute;
  width: 4px;
  height: 85px;
  left: 786px;
  top: 1189px;
  z-index: 4;
  background-color: #fff;
}

#st-16 {
  position: absolute;
  width: 4px;
  height: 85px;
  left: 1269px;
  top: 1189px;
  z-index: 3;
  background-color: #fff;
}

#st-17 {
  position: absolute;
  width: 4px;
  height: 85px;
  left: 1695px;
  top: 1191px;
  z-index: 2;
  background-color: #fff;
}

#wraper{
    position: absolute;
  width: 2048px;
  z-index: 99;
  margin-top: 650px;
}

#btn {
  width: 800px;
  margin: auto;
  border: 8px solid #00bafb;
  background-color: #3c3c3c;
  text-align: center;
  font: 60px/72px Helvetica Neue, sans-serif;
  color: #00bafb;
  letter-spacing: normal;
  padding: 40px 100px;
}
#ring {
  position: absolute;
  width: 73px;
  height: 69px;
  left: 1930px;
  top: 1425px;
  z-index: 20;
}
.c, .st {
  visibility: hidden;
}