body {
  margin: 0;
  min-width: 2048px;
  background-color: #002a43;
}

#txt {
  transform-origin: right;
  -webkit-transform-origin: right;
  position: absolute;
  width: 38px;
  height: 404px;
  left: 278px;
  top: 463px;
  z-index: 36;
}

#txt-1 {
  transform-origin: top;
  -webkit-transform-origin: top;
  position: absolute;
  width: 213px;
  height: 74px;
  left: 1022px;
  top: 1363px;
  z-index: 35;
}

#txt-2 {
  transform-origin: top;
  -webkit-transform-origin: top;
  position: absolute;
  width: 77px;
  height: 35px;
  left: 380px;
  top: 172px;
  z-index: 34;
}

#txt-3 {
  transform-origin: top;
  -webkit-transform-origin: top;
  position: absolute;
  width: 77px;
  height: 35px;
  left: 380px;
  top: 380px;
  z-index: 33;
}

#txt-4 {
  transform-origin: top;
  -webkit-transform-origin: top;
  position: absolute;
  width: 74px;
  height: 35px;
  left: 383px;
  top: 600px;
  z-index: 32;
}

#txt-5 {
  transform-origin: top;
  -webkit-transform-origin: top;
  position: absolute;
  width: 74px;
  height: 35px;
  left: 383px;
  top: 807px;
  z-index: 31;
}

#txt-6 {
  transform-origin: top;
  -webkit-transform-origin: top;
  position: absolute;
  width: 51px;
  height: 35px;
  left: 406px;
  top: 1015px;
  z-index: 30;
}

#txt-7 {
  transform-origin: top;
  -webkit-transform-origin: top;
  position: absolute;
  width: 51px;
  height: 35px;
  left: 1655px;
  top: 1265px;
  z-index: 29;
}

#txt-8 {
  transform-origin: top;
  -webkit-transform-origin: top;
  position: absolute;
  width: 51px;
  height: 35px;
  left: 1258px;
  top: 1265px;
  z-index: 28;
}

#txt-9 {
  transform-origin: top;
  -webkit-transform-origin: top;
  position: absolute;
  width: 48px;
  height: 35px;
  left: 864px;
  top: 1265px;
  z-index: 27;
}

#strx {
  position: absolute;
  width: 59px;
  height: 6px;
  left: 492px;
  top: 1030px;
  z-index: 26;
  background-color: #fff;
}

#strx-1 {
  position: absolute;
  width: 59px;
  height: 6px;
  left: 492px;
  top: 822px;
  z-index: 25;
  background-color: #fff;
}

#strx-2 {
  position: absolute;
  width: 59px;
  height: 6px;
  left: 492px;
  top: 614px;
  z-index: 24;
  background-color: #fff;
}

#strx-3 {
  position: absolute;
  width: 59px;
  height: 6px;
  left: 492px;
  top: 395px;
  z-index: 23;
  background-color: #fff;
}

#strx-4 {
  position: absolute;
  width: 59px;
  height: 6px;
  left: 492px;
  top: 187px;
  z-index: 22;
  background-color: #fff;
}

#os {
  transform-origin: left;
  -webkit-transform-origin: left;
  position: absolute;
  width: 1279px;
  height: 6px;
  left: 490px;
  top: 1227px;
  z-index: 21;
  background-color: #fff;
}

#os-1 {
  transform-origin: bottom;
  -webkit-transform-origin: bottom;
  position: absolute;
  width: 6px;
  height: 1136px;
  left: 490px;
  top: 97px;
  z-index: 20;
  background-color: #fff;
}

#curve {
  clip: rect(0px,0px,960px,0px);
  position: absolute;
  width: 1193px;
  height: 918px;
  left: 494px;
  top: 312px;
  z-index: 19;
}

#st {
  position: absolute;
  width: 6px;
  height: 1098px;
  left: 689px;
  top: 132px;
  background-color: #898989;
}

#st-1 {
  position: absolute;
  width: 6px;
  height: 1098px;
  left: 886px;
  top: 132px;
  background-color: #898989;
}

#st-2 {
  position: absolute;
  width: 6px;
  height: 1098px;
  left: 1084px;
  top: 132px;
  background-color: #898989;
}

#st-3 {
  position: absolute;
  width: 6px;
  height: 1098px;
  left: 1282px;
  top: 132px;
  background-color: #898989;
}

#st-4 {
  position: absolute;
  width: 6px;
  height: 1098px;
  left: 1480px;
  top: 132px;
  background-color: #898989;
}

#st-5 {
  position: absolute;
  width: 6px;
  height: 1098px;
  left: 1678px;
  top: 132px;
  background-color: #898989;
}

#str {
  position: absolute;
  width: 6px;
  height: 47px;
  left: 689px;
  top: 1185px;
  z-index: 12;
  background-color: #fff;
}

#str-1 {
  position: absolute;
  width: 6px;
  height: 47px;
  left: 886px;
  top: 1185px;
  z-index: 11;
  background-color: #fff;
}

#str-2 {
  position: absolute;
  width: 6px;
  height: 47px;
  left: 1084px;
  top: 1185px;
  z-index: 10;
  background-color: #fff;
}

#str-3 {
  position: absolute;
  width: 6px;
  height: 47px;
  left: 1282px;
  top: 1185px;
  z-index: 9;
  background-color: #fff;
}

#str-4 {
  position: absolute;
  width: 6px;
  height: 47px;
  left: 1480px;
  top: 1185px;
  z-index: 8;
  background-color: #fff;
}

#str-5 {
  position: absolute;
  width: 6px;
  height: 47px;
  left: 1678px;
  top: 1185px;
  z-index: 7;
  background-color: #fff;
}

#shtrih {
  position: absolute;
  width: 25px;
  height: 29px;
  left: 687px;
  top: 1062px;
  z-index: 6;
}

#shtrih-1 {
  position: absolute;
  width: 25px;
  height: 29px;
  left: 884px;
  top: 912px;
  z-index: 5;
}

#shtrih-2 {
  position: absolute;
  width: 25px;
  height: 29px;
  left: 1083px;
  top: 759px;
  z-index: 4;
}

#shtrih-3 {
  position: absolute;
  width: 25px;
  height: 29px;
  left: 1279px;
  top: 606px;
  z-index: 3;
}

#shtrih-4 {
  position: absolute;
  width: 25px;
  height: 29px;
  left: 1480px;
  top: 458px;
  z-index: 2;
}

#wraper{
    position: absolute;
  width: 2048px;
  z-index: 99;
  margin-top: 650px;
}

#btn {
  width: 800px;
  margin: auto;
  border: 8px solid #00bafb;
  background-color: #3c3c3c;
  text-align: center;
  font: 60px/72px Helvetica Neue, sans-serif;.st, .str, .strx, .txt, .shtrih, .os {
  visibility: hidden;
}
  color: #00bafb;
  letter-spacing: normal;
  padding: 20px 100px;
}
#ring {
  position: absolute;
  width: 73px;
  height: 69px;
  left: 1930px;
  top: 1425px;
  z-index: 20;
}
.st, .str, .strx, .txt, .shtrih, .os {
  visibility: hidden;
}