body {
  margin: 0;
  min-width: 2048px;
  background-color: #002a43;
}

#c {
  position: absolute;
  width: 410px;
  height: 176px;
  left: 121px;
  top: 495px;
  z-index: 19;
}

#c-1 {
  position: absolute;
  width: 409px;
  height: 177px;
  left: 601px;
  top: 495px;
  z-index: 18;
}

#c-2 {
  position: absolute;
  width: 411px;
  height: 177px;
  left: 1079px;
  top: 495px;
  z-index: 17;
}

#c-3 {
  position: absolute;
  width: 300px;
  height: 36px;
  left: 1583px;
  top: 472px;
  z-index: 16;
}

#c-4 {
  position: absolute;
  width: 348px;
  height: 36px;
  left: 1583px;
  top: 648px;
  z-index: 15;
}

#st {
  -webkit-transform-origin: left;
  transform-origin: left;
  position: absolute;
  width: 87px;
  height: 20px;
  left: 518px;
  top: 568px;
  z-index: 14;
}

#st-1 {
  -webkit-transform-origin: left;
  transform-origin: left;
  position: absolute;
  width: 85px;
  height: 20px;
  left: 997px;
  top: 568px;
  z-index: 13;
}

#st-2 {
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  position: absolute;
  width: 105px;
  height: 89px;
  left: 1475px;
  top: 491px;
  z-index: 12;
}

#st-3 {
  -webkit-transform-origin: left top;
  transform-origin: left top;
  position: absolute;
  width: 105px;
  height: 89px;
  left: 1472px;
  top: 577px;
  z-index: 11;
}

#line {
  -webkit-transform-origin: left;
  transform-origin: left;
  position: absolute;
  width: 66px;
  height: 4px;
  left: 1940px;
  top: 664px;
  z-index: 10;
  background-color: #fff;
}

#line-1 {
  -webkit-transform-origin: top;
  transform-origin: top;
  position: absolute;
  width: 4px;
  height: 212px;
  left: 1755px;
  top: 693px;
  z-index: 9;
  background-color: #fff;
}

#line-2 {
  -webkit-transform-origin: top;
  transform-origin: top;
  position: absolute;
  width: 4px;
  height: 398px;
  left: 2002px;
  top: 664px;
  z-index: 8;
  background-color: #fff;
}

#line-3 {
  -webkit-transform-origin: right;
  transform-origin: right;
  position: absolute;
  width: 1213px;
  height: 4px;
  left: 546px;
  top: 901px;
  z-index: 7;
  background-color: #fff;
}

#line-4 {
  -webkit-transform-origin: right;
  transform-origin: right;
  position: absolute;
  width: 1968px;
  height: 4px;
  left: 37px;
  top: 1058px;
  z-index: 6;
  background-color: #fff;
}

#line-5 {
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  position: absolute;
  width: 20px;
  height: 305px;
  left: 538px;
  top: 599px;
  z-index: 5;
}

#line-6 {
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  position: absolute;
  width: 4px;
  height: 487px;
  left: 34px;
  top: 575px;
  z-index: 4;
  background-color: #fff;
}

#line-7 {
  -webkit-transform-origin: left;
  transform-origin: left;
  position: absolute;
  width: 87px;
  height: 20px;
  left: 37px;
  top: 567px;
  z-index: 3;
}

#txt {
  position: absolute;
  width: 360px;
  height: 44px;
  left: 859px;
  top: 851px;
  z-index: 2;
}

#txt-1 {
  position: absolute;
  width: 305px;
  height: 44px;
  left: 887px;
  top: 1008px;
  z-index: 1;
}

#wraper{
    position: absolute;
  width: 2048px;
  z-index: 99;
  margin-top: 650px;
}

#btn {
  width: 800px;
  margin: auto;
  border: 8px solid #00bafb;
  background-color: #3c3c3c;
  text-align: center;
  font: 60px/72px Helvetica Neue, sans-serif;
  color: #00bafb;
  letter-spacing: normal;
  padding: 20px 100px;
}
#ring {
  position: absolute;
  width: 73px;
  height: 69px;
  left: 1930px;
  top: 1425px;
  z-index: 20;
}
.c, .st, .line, .txt {
  visibility: hidden;
}