body {
  margin: 0;
  min-width: 2048px;
  background-color: #002a43;
}

#st {
  transform-origin: right;
  -webkit-transform-origin: right;
  position: absolute;
  width: 79px;
  height: 441px;
  left: 404px;
  top: 422px;
}

#st-1 {
  transform-origin: right;
  -webkit-transform-origin: right;
  position: absolute;
  width: 154px;
  height: 1143px;
  left: 524px;
  top: 72px;
}

#st-2 {
  transform-origin: top;
  -webkit-transform-origin: top;
  position: absolute;
  width: 20px;
  height: 185px;
  left: 1015px;
  top: 1103px;
}

#st-3 {
  transform-origin: top;
  -webkit-transform-origin: top;
  position: absolute;
  width: 20px;
  height: 99px;
  left: 1015px;
  top: 611px;
}

#st-4 {
  transform-origin: top;
  -webkit-transform-origin: top;
  position: absolute;
  width: 4px;
  height: 66px;
  left: 1023px;
  top: 393px;
}

#st-5 {
  transform-origin: top;
  -webkit-transform-origin: top;
  position: absolute;
  width: 51px;
  height: 69px;
  left: 999px;
  top: 211px;
}

#c {
  position: absolute;
  width: 610px;
  height: 149px;
  left: 723px;
  top: 75px;
  z-index: 9;
}

#c-1 {
  position: absolute;
  width: 547px;
  height: 128px;
  left: 754px;
  top: 279px;
  z-index: 8;
}

#c-2 {
  position: absolute;
  width: 442px;
  height: 169px;
  left: 807px;
  top: 457px;
  z-index: 7;
}

#c-3 {
  position: absolute;
  width: 631px;
  height: 109px;
  left: 713px;
  top: 707px;
  z-index: 6;
}

#c-4 {
  position: absolute;
  width: 631px;
  height: 109px;
  left: 713px;
  top: 808px;
  z-index: 5;
}

#c-5 {
  position: absolute;
  width: 631px;
  height: 109px;
  left: 713px;
  top: 909px;
  z-index: 4;
}

#c-6 {
  position: absolute;
  width: 631px;
  height: 109px;
  left: 713px;
  top: 1010px;
  z-index: 3;
}

#c-7 {
  position: absolute;
  width: 860px;
  height: 189px;
  left: 598px;
  top: 1287px;
  z-index: 2;
}

#wraper{
    position: absolute;
  width: 2048px;
  z-index: 99;
  margin-top: 650px;
}

#btn {
  width: 1000px;
  margin: auto;
  border: 8px solid #00bafb;
  background-color: #3c3c3c;
  text-align: center;
  font: 60px/72px Helvetica Neue, sans-serif;
  color: #00bafb;
  letter-spacing: normal;
  padding: 20px 100px;
}
#ring {
  position: absolute;
  width: 73px;
  height: 69px;
  left: 1930px;
  top: 1425px;
  z-index: 20;
}
.c, .st, .st2 {
  visibility: hidden;
}