body {
  margin: 0;
  min-width: 2048px;
  background-color: #002a43;
}

#c {
  -webkit-transform-origin: left;
  transform-origin: left;
  position: absolute;
  width: 407px;
  height: 122px;
  left: 700px;
  top: 191px;
  z-index: 18;
}

#c-1 {
  -webkit-transform-origin: top;
  transform-origin: top;
  position: absolute;
  width: 472px;
  height: 193px;
  left: 1043px;
  top: 498px;
  z-index: 17;
}

#c-2 {
  -webkit-transform-origin: right top;
  transform-origin: right top;
  position: absolute;
  width: 472px;
  height: 193px;
  left: 666px;
  top: 870px;
  z-index: 16;
}

#c-3 {
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  position: absolute;
  width: 407px;
  height: 122px;
  left: 322px;
  top: 531px;
  z-index: 15;
}

#c-4 {
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  position: absolute;
  width: 953px;
  height: 118px;
  left: 426px;
  top: 1159px;
  z-index: 14;
}

#c-5 {
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  position: absolute;
  width: 432px;
  height: 231px;
  left: 1331px;
  top: 848px;
  z-index: 13;
}

#c-6 {
  -webkit-transform-origin: top;
  transform-origin: top;
  position: absolute;
  width: 400px;
  height: 35px;
  left: 699px;
  top: 1305px;
  z-index: 12;
}

#c-7 {
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  position: absolute;
  width: 58px;
  height: 58px;
  left: 1242px;
  top: 387px;
  z-index: 11;
}

#c-8 {
  -webkit-transform-origin: left;
  transform-origin: left;
  position: absolute;
  width: 200px;
  height: 93px;
  left: 1308px;
  top: 370px;
  z-index: 10;
}

#e {
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  position: absolute;
  width: 184px;
  height: 275px;
  left: 519px;
  top: 257px;
  z-index: 9;
}

#e-1 {
  -webkit-transform-origin: left top;
  transform-origin: left top;
  position: absolute;
  width: 175px;
  height: 240px;
  left: 1096px;
  top: 259px;
  z-index: 8;
}

#e-2 {
  -webkit-transform-origin: top right;
  transform-origin: top right;
  position: absolute;
  width: 142px;
  height: 214px;
  left: 1127px;
  top: 678px;
  z-index: 7;
}

#e-3 {
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  position: absolute;
  width: 150px;
  height: 252px;
  left: 519px;
  top: 640px;
  z-index: 6;
}

#st {
  -webkit-transform-origin: top;
  transform-origin: top;
  position: absolute;
  width: 20px;
  height: 489px;
  left: 1292px;
  top: 670px;
  z-index: 5;
}

#st-1 {
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  position: absolute;
  width: 20px;
  height: 521px;
  left: 446px;
  top: 641px;
  z-index: 4;
}

#st-2 {
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  position: absolute;
  width: 20px;
  height: 174px;
  left: 1442px;
  top: 678px;
  z-index: 3;
}

#st-3 {
  -webkit-transform-origin: right;
  transform-origin: right;
  position: absolute;
  width: 218px;
  height: 20px;
  left: 1124px;
  top: 967px;
  z-index: 2;
}

#wraper{
  position: absolute;
  width: 2048px;
  z-index: 99;
  margin-top: 650px;
}

#btn {
  width: 800px;
  margin: auto;
  border: 8px solid #00bafb;
  background-color: #3c3c3c;
  text-align: center;
  font: 60px/72px Helvetica Neue, sans-serif;
  color: #00bafb;
  letter-spacing: normal;
  padding: 40px 100px;
}
#ring {
  position: absolute;
  width: 73px;
  height: 69px;
  left: 1930px;
  top: 1425px;
  z-index: 20;
}
.c, .st, .e {
  visibility: hidden;
}